body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:2%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.field-validation-error{
    color: red;
    
}
.input-validation-error{
    border: 2px solid red;
}

@media (min-width: 768px) and (max-width: 991px) {
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
     max-width: 100%;

}

@media (min-width: 992px) and (max-width: 1199px) {
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%
 
}

@media (min-width: 992px) and (max-width: 1199px) {
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
     max-width: 40%;
    margin-left:30%;
}

}
@media (min-width: 1200px) {
 /* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 40%;
    margin-left:30%;
}