@model Projekat.Models.IndexViewModel
@{
    ViewBag.Title = "Podešavanja";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Promenite podešavanja Vašeg naloga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Lozinka:</dt>
        <dd>
            [
                @Html.ActionLink("Promenite lozinku", "ChangePassword")                    
            ]
        </dd> 
    </dl>
</div>
