
@{
 ViewBag.Title = "InternalError";

}
<link href="@Url.Content("~/Content/ErrorStyle.css")" rel="stylesheet" type="text/css" />

<div class="jumbotron">
    <center> <h2>Ooops, došlo je do greske...</h2></center>
    <center><text>Vrati se na <a href="@Url.RouteUrl("Home",new { controller = "Home", action = "Index" })">Početnu stranu</a></text></center>
</div>
