@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <img src="~/slike/ilustracija.png" alt="Zajedno do uspeha!" width="80%" />
    <h1>VISOKA ŠKOLA ZA INFORMACIONE TEHNOLOGIJE <br> ITS, BEOGRAD</h1>
    <p class="lead">Dobro došli na web aplikaciju našeg tima.</p>
</div>

